/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Monaco, Monaco, monospace;
  background-color:#FFF5EE;
  color: #333;
}

/* Header and Navigation Styling */
header {
  background-color:#FA8072;
  color: #483D8B;
  padding:10px 0;
}
 
nav{
width:80px;
height:80px;
overflow:hidden;
background-color:white;
}
nav{
  width:100%;
  height:100%;
  position:sticky;
  }
  

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color:#FF3399;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Section Styling */
section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}
#home img {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}



footer {
  text-align: center;
  padding: 10px;
  background-color: 	#FFFFCC;
  color: #000000;
  margin-top: 20px;
}
